<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>menu</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body>
      <header class= "col-8 m-auto pt-4 pb-2 text-center">
        <h1>Olá! Bem vindo a minha Pagina!</h1>
        <h3>veja o carro no banco</h3>
      </header>
      
      <div class= "col-8 m-auto pt-4 pb-2 text-center">
          <a href="/form" class="btn btn-success">adicionar</a>
      </div> 

      <div class= "col-8 m-auto pt-4 pb-2 text-center">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">modelo</th>
              <th scope="col">marca</th>
              <th scope="col">ano</th>
            </tr>
          </thead>
          <tbody>
            {%for dbs in db%}
            <tr>
              <th scope="row">{{dbs.id}}</th>
              <td>{{dbs.id}}</td>
              <td>{{dbs.modelo}}</td>
              <td>{{dbs.marca}}</td>
              <td>{{dbs.ano}}</td>
              <td>
                <a href="/view/{{dbs.id}}/" class="btn btn-dark">Visualizar</a>
                <a href="/edit/{{dbs.id}}/" class="btn btn-primary">editar</a>
                <a href="/delete/{{dbs.id}}/" class="btn btn-danger">deletar</a>
              </td>
              
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div> 

        <footer>
          <p>Desenvolvido por NERVAL</p>
        </footer>
      </body>
</html>